  .sidebar{
      background: black;
      min-height: 640px;
    }

  .main{
    background: #ddd;
    min-height: 600px;
  }

  .nopadding{
    padding: 0px;
  }

  .filter_elements ul{
    padding: 0px;
  }

  .filter_elements ul li{
    list-style: none;
    color:#999;
    text-indent: 10px;
  }

  .main_header{
    min-height: 50px;
    background: #2a2a2a;
  }

  #meromap {
    width: 100%;
    height: 100%;
  }
  .glyphicon{
    margin-left: 10px;
    top: 14px;
  }